<div class="container mx-auto">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <a class="fas fa-book-reader"></a><strong>Bookers</strong>!!</h1>
      <p>in<i class="fas fa-book-reader"></i><strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div>
        <div class="btn btn-info btn-sm btn-block mb-3 sign-in" href="/users/sign_in">Log in</div>
        <div class="btn btn-success btn-sm btn-block sign-up" href="/users/sign_up">Sign Up</div>
      </div>
    </div>
  </div>
</div>
